:root {
  --color-background: #F7F3EB;
  --color-text: #25231F;
  --color-brand-50: #F0EEED;
  --color-brand-100: #E3DAD8;
  --color-brand-200: #DBC5BF;
  --color-brand-300: #D8ADA2;
  --color-brand-400: #D98C78;
  --color-brand-500: #D8664A;
  --color-brand-600: #B7523A;
  --color-brand-700: #96412C;
  --color-brand-800: #733222;
  --color-brand-900: #51251A;
  --color-brand-950: #321811;
  --color-neutral-50: #EEEEEE;
  --color-neutral-100: #D5D7D5;
  --color-neutral-200: #BEC1BD;
  --color-neutral-300: #A7AAA6;
  --color-neutral-400: #8A8E89;
  --color-neutral-500: #6F736E;
  --color-neutral-600: #595C58;
  --color-neutral-700: #434643;
  --color-neutral-800: #2F312F;
  --color-neutral-900: #1C1D1C;
  --color-neutral-950: #0B0B0B;
  --color-success-50: #EBF0EB;
  --color-success-100: #CFE3CE;
  --color-success-200: #AFD7AF;
  --color-success-300: #94C994;
  --color-success-400: #75B577;
  --color-success-500: #5AA05D;
  --color-success-600: #48864B;
  --color-success-700: #386C3A;
  --color-success-800: #2B532D;
  --color-success-900: #203B21;
  --color-success-950: #152415;
  --color-warning-50: #F0EEEB;
  --color-warning-100: #E4DED4;
  --color-warning-200: #DDCEB7;
  --color-warning-300: #D7BD94;
  --color-warning-400: #C8A977;
  --color-warning-500: #B8965D;
  --color-warning-600: #9D7E4B;
  --color-warning-700: #82683C;
  --color-warning-800: #675230;
  --color-warning-900: #4C3E26;
  --color-warning-950: #332A1C;
  --color-danger-50: #F0EEED;
  --color-danger-100: #E2DAD9;
  --color-danger-200: #D9C5C2;
  --color-danger-300: #D5AEA9;
  --color-danger-400: #D48D85;
  --color-danger-500: #D7655B;
  --color-danger-600: #BA4D45;
  --color-danger-700: #983C36;
  --color-danger-800: #752F29;
  --color-danger-900: #53231F;
  --color-danger-950: #331614;
  --color-information-50: #EDEFF0;
  --color-information-100: #D7DDE2;
  --color-information-200: #BFCCD8;
  --color-information-300: #A2BCD3;
  --color-information-400: #78A8D1;
  --color-information-500: #5793C4;
  --color-information-600: #457AA6;
  --color-information-700: #366387;
  --color-information-800: #2A4C68;
  --color-information-900: #1F3649;
  --color-information-950: #14212D;
  --color-brand-light-subtle: #E3DAD8;
  --color-brand-light-border-icon: #B7523A;
  --color-brand-light-bold: #B7523A;
  --color-brand-light-on-bold: #FFFFFF;
  --color-brand-dark-subtle: #51251A;
  --color-brand-dark-border-icon: #D8664A;
  --color-brand-dark-bold: #D98C78;
  --color-brand-dark-on-bold: #111111;
  --color-neutral-light-subtle: #D5D7D5;
  --color-neutral-light-border-icon: #6F736E;
  --color-neutral-light-bold: #595C58;
  --color-neutral-light-on-bold: #FFFFFF;
  --color-neutral-dark-subtle: #1C1D1C;
  --color-neutral-dark-border-icon: #6F736E;
  --color-neutral-dark-bold: #8A8E89;
  --color-neutral-dark-on-bold: #111111;
  --color-success-light-subtle: #CFE3CE;
  --color-success-light-border-icon: #48864B;
  --color-success-light-bold: #386C3A;
  --color-success-light-on-bold: #FFFFFF;
  --color-success-dark-subtle: #203B21;
  --color-success-dark-border-icon: #5AA05D;
  --color-success-dark-bold: #75B577;
  --color-success-dark-on-bold: #111111;
  --color-warning-light-subtle: #E4DED4;
  --color-warning-light-border-icon: #82683C;
  --color-warning-light-bold: #82683C;
  --color-warning-light-on-bold: #FFFFFF;
  --color-warning-dark-subtle: #4C3E26;
  --color-warning-dark-border-icon: #B8965D;
  --color-warning-dark-bold: #C8A977;
  --color-warning-dark-on-bold: #111111;
  --color-danger-light-subtle: #E2DAD9;
  --color-danger-light-border-icon: #BA4D45;
  --color-danger-light-bold: #BA4D45;
  --color-danger-light-on-bold: #FFFFFF;
  --color-danger-dark-subtle: #53231F;
  --color-danger-dark-border-icon: #D7655B;
  --color-danger-dark-bold: #D48D85;
  --color-danger-dark-on-bold: #111111;
  --color-information-light-subtle: #D7DDE2;
  --color-information-light-border-icon: #457AA6;
  --color-information-light-bold: #457AA6;
  --color-information-light-on-bold: #FFFFFF;
  --color-information-dark-subtle: #1F3649;
  --color-information-dark-border-icon: #5793C4;
  --color-information-dark-bold: #78A8D1;
  --color-information-dark-on-bold: #111111;
  --color-regular-light-subtle: var(--color-neutral-light-subtle);
  --color-regular-light-border-icon: var(--color-neutral-light-border-icon);
  --color-regular-light-bold: var(--color-neutral-light-bold);
  --color-regular-light-on-bold: var(--color-neutral-light-on-bold);
  --color-regular-dark-subtle: var(--color-neutral-dark-subtle);
  --color-regular-dark-border-icon: var(--color-neutral-dark-border-icon);
  --color-regular-dark-bold: var(--color-neutral-dark-bold);
  --color-regular-dark-on-bold: var(--color-neutral-dark-on-bold);
  --pair-brand-1-foreground: #F0EEED;
  --pair-brand-1-background: #B7523A;
}